<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link href="/css/app.42e05d28.css" rel="preload" as="style">
	<link href="/js/app.7a278601.js" rel="preload" as="script">
	<link href="/js/chunk-vendors.d5883100.js" rel="preload" as="script">
	<link href="/css/app.42e05d28.css" rel="stylesheet">
	<link href="/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
	<title>サンプル</title>
</head>
<body>
	<header th:insert="fragments/page_header::pageHeader"></header>
	<main>
		<div id="app"></div>
	</main>
	<script src="/js/chunk-vendors.d5883100.js"></script>
	<script src="/js/app.7a278601.js"></script>
</body>
</html>